<div class="header">
    <h1>داشبورد پرستار - سیستم تشخیص</h1>
    <div class="user-menu">
        <div class="user-info">
            <div class="user-name">
                <%= name; %>
            </div>
            <div class="user-role">پرسنل درمانی</div>
        </div>
        <button class="logout-btn">خروج</button>
    </div>
</div>